@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

html {
  scroll-behavior: smooth;
}

html:has(.menu:target),
body:has(.menu:target) {
  overflow: hidden;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-main;
  background-color: $color-bg-page;
}

.container {
  padding: 0 30px;
}

@media (min-width: $breakpoint-tablet) {
  .container {
    padding: 0 34px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    padding: 0 123px;
  }
}

.link {
  text-decoration: none;
}

img {
  width: 100%;
}

.block__off {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

@media (min-width: $breakpoint-desktop-small) {
  .block__off {
    position: static;
    visibility: visible;
    opacity: 1;
  }
}

.block__off-slider-top {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

@media (min-width: $breakpoint-tablet) {
  .block__off-slider-top {
    position: static;
    visibility: visible;
    opacity: 1;
  }
}
